
/*FUENTES DESCARGADAS*/

@font-face {
    font-family: "adventure";
    src: url("../../fonts/adventure/Adventure.otf");
    // src: url("../../fonts/adventure/AdventureHollow.otf");
}
@font-face {
    font-family: "para burbujas";
    src: url("../../fonts/shaka_pow/Shaka\ Pow.ttf");
}


/*FONTS*/

$title-font: "adventure";
$bubble-font:"para burbujas";


/*FONTS SIZE*/

$title-font-size: 180px;

/*COLORS*/

$border-color: #000000;
$background-header-color: #c052ff;


/*MEDIA QUERIES*/


