
/*FONTS*/

$title-font:"Indie Flower", cursive;
$main-font:"IBM Plex Mono", monospace;

$title-font-size: 50px;
$main-font-size:14px;

/*FONTS SIZE*/


/*COLORS*/

$main-color: black;


/*MEDIA QUERIES*/


