body {
    margin: 0;
}

#perfil-container {
    display: flex;
    flex-direction: row;
    
    .fondo {
        width: 100%;
        height: 900px;
        background-image: url(../../img/Puntos_Amarillo_fondo.png);
        background-position: center;
        background-size: cover;
        margin-top: 35px;
        border: 5px solid $border-color;
    }
    .columns {
        width: 100%;
        display: flex;
        flex-direction: row;

        .columna-izquierda {
            display: flex;
            width: 25%;
            background-color: #fdff70;
            #nombre-usuario {
                font-family: $bubble-font;
                font-size: 30px;
                color: $border-color;
                text-shadow: 6px 9px 0 $border-color;
            }
            .img-puntaje-usuario {
                width: 100%;
                height: auto;
                position: relative;
            }
            #puntaje-usuario {
                position: absolute;
                font-family: $bubble-font;
                font-size: 30px;
                color: $border-color;
                text-shadow: 6px 9px 0 $border-color;

            }

            .contenedor-nivel { // aca es donde esta el numero del nivel
                position: relative;
                width: 200px;
                height: 50px;
                background-color: white;
                border: 2px solid $border-color; 
                #nivel-usuario {
                    position: absolute;
                    color: $border-color;
                    text-shadow: 6px 9px 0 $border-color;
                    font-size: 20px
                }

            }

        }

        .columna-central {
            width: 50%


        }
        .columna-derecha {
            width: 25%;
            display: flex;
            flex-direction: column;
            .burbujas-seguidores {
                .numero-siguiendo{
                    position: absolute;
                    font-family: $bubble-font;
                    font-size: 20px;
                }

                h3 {
                    position: absolute;
                    font-family: $bubble-font;
                    font-size: 20px;
                }

                .img-siguiendo {
                    width: 350px;
                    position: relative;
                }
                .img-te-siguen {
                    width: 350px;
                    position: relative;
                }

            }


        }

    }


    .burbuja {
        width: 50px;
        height: 50px;

    }

}