html {
    height: 100%;
} 
Body {
    height: 100%;
    Overflow: hidden;
} 

.perfil-preguntas {      
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../../img/fondosNiveles/nivel1.png);
    background-position: center;
    background-size: cover;
    border-left: 6px solid $border-color;

    .contenedor-avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 240px;

        #avatar {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-image: url(../../img/avatares/mia.jpg);
            background-position: center;
            background-size: cover;
            border: 2px solid $border-color;
            box-shadow: 0px 10px 19px 0px #000000bf;
        }

    }

    .datos-usuario {
        width: 100%;
        text-align: center;
        transform: skewy(-7deg);
        box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    
            #nombre-usuario {
                margin: 0;
                width: 85%;
                padding: 12px;
                font-family: "adventure";
                font-size: 30px;
                color: #000000;
                background-image: url(../../img/fondosNiveles/fondoNombrePerfil.jpg);
                background-position: center;
                background-size: cover;
                text-shadow: 10px 5px 0 #93939369;
                border: 8px solid #000000;
            }

            .contenedor-nivel { // aca es donde esta el numero del nivel
                position: absolute;
                transform: translateY(-38%);
                left: 30%;
                width: 160px;
                height: 45px;
                background-color: white;
                border: 2px solid $border-color; 
                box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);

                #nivel-usuario {
                    font-family: $bubble-font;
                    margin: 5px;
                    color: $border-color;
                    text-shadow: 3px 2px 0 #00000038;
                    font-size: 30px;
                }
            }


            h2 {
                margin: 0;
                padding: 2px;
                font-family: $title-font;
                font-size: 25px;
                color: $border-color;
                text-shadow: 10px 5px 0 #93939369;
            }

        .img-puntaje-usuario {
            width: 240px;
            height: auto;
            position: absolute;
            transform: translate(-50%, 12%);
        }

        #puntaje-usuario {
            position: absolute;
            font-family: $bubble-font;
            font-size: 20px;
            color: $border-color;
            text-shadow: 3px 3px 0 #0000005e;
            transform: translate(90%, 400%);
            z-index: 1;

        }

    }
}    

.columna-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #contenedor-categorias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 500px;
        border: 5px solid $border-color; 
        box-shadow: 0px 10px 19px 0px #000000bf;
        background-color: #ff2ea1;

        h1 {
            font-family: $probando-dos;
            font-size: 25px;
            text-shadow: 3px 2px 0 #00000038; 
        }

        .categoria {
            width: 45%;
            height: 30px;
            line-height: 35px;
            font-family: $probando-dos;
            font-size: 22px;
            text-align: center; 
            color: $border-color;
            background-color: white;
            text-shadow: 3px 2px 0 #00000038; 
            margin: 7px 5px;
            border: 2px solid $border-color; 
            box-shadow: 0px 10px 19px 0px #000000bf;
            cursor: pointer;
            transition: .5s;
            &:hover {
                background-color: #a4a1a57e;
                width: 50%;
                height: 35px;
            }
        }
        // .cat-1, cat-2, cat-3, cat-4 {


        // }

    }

.preguntas-visible {
    display: none;
}

    // #contenedor-preguntas {

    // }
    